body {
  max-width: 1280px;
  align-items: center;
  background-color: #EFEFEF;
  text-decoration-color: #A9A9A9;
  font-family: 'Slabo 27px', serif;

}

h1 {
  font-size: 24pt;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #A9A9A9;
  color: #EFEFEF;
  position: sticky;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  font-size: 18pt;
  padding: 14px 28px;
  text-decoration: none;
  color: inherit;
}

li a:active {
  background-color: #641E16;
  color: white;
}

li a:hover:not(.active) {
  background-color:  #FF3B3F;
}

}

.center_responsive{
  margin: auto;
  width: 100%;
  align-items: center;
}

.right_align{
  max-width: 100px;
}
