body {
  max-width: 1280px;
  margin: auto;
  padding: 10px;
  align-items: center;
  background-color: #EFEFEF;
  text-decoration-color: #A9A9A9;
  font-family: 'Slabo 27px', serif;
}

h1 {
  font-size: 24pt;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #A9A9A9;
  color: #EFEFEF;
  max-width: 1280px;
  align-content: center;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  font-size: 18pt;
  padding: 14px 28px;
  text-decoration: none;
  color: inherit;
}

li a:active {
  background-color: #641E16;
  color: white;
}

li a:hover:not(.active) {
  background-color:  #FF3B3F;
}


.center_responsive{
  width: 80%;
  max-width: 500px;
  display: block;
  margin: auto;
  border: 1px solid #A9A9A9;
}

.title {
  color: #424242;
}
